<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_10FamilyDB.Properties.Settings.nguyencuSQLConnectionString"
            connectionString="Data Source=stusql-cis250-101-fa19.cimq4ah3jd04.us-east-2.rds.amazonaws.com,1433;Initial Catalog=nguyencu;Persist Security Info=True;User ID=nguyencu;Password=897437"
            providerName="System.Data.SqlClient" />
        <add name="_10FamilyDB.Properties.Settings.nguyencu151SQLConnectionString"
            connectionString="Data Source=stusql-cis151-101-fa19.cimq4ah3jd04.us-east-2.rds.amazonaws.com,1433;Initial Catalog=nguyencu;Persist Security Info=True;User ID=nguyencu;Password=897437"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
